---
layout: default
---

<noscript>
    <p>Bitte aktiviere Javascript.</p>
</noscript>

<div id="background"></div>

<div class="headinfo">
    <a href="/" class="logo">
        <img src="files/logo.svg" alt="SV am GMB" />
    </a>
    <a href="/kontakt" class="button">Kontaktiere uns</a>
    <div class="links">
        <div class="link">
            <a href="https://instagram.com/sv.gmb">Instagram</a>
        </div>
        <div class="link">
            <a href="https://mosbacher-berg.de">Schulwebsite</a>
        </div>
    </div>
</div>


<div class="container sheet home">

    <span class="material-icons" style="color:#e2023f">error_outline</span>

    <div class="warning box" style="margin-top: 0.5em;">
        <p>Beachtet die Hygienemaßnahmen
            <a
                href="https://kultusministerium.hessen.de/schulsystem/aktuelle-informationen-zu-corona">Erhalte
                weitere Informationen</a> oder <a href="/kontakt">stelle uns deine Fragen.</a></p>
    </div>

    <br />

    <span class="material-icons" style="color:#3aaa35">info_outline</span>

    <div class="warning box" style="margin-top: 0.5em;">
        <p>Das Jugendparlament bietet kostenfreie Schülerhilfe an. <a href="https://forms.gle/dYitEtKMHrP93yJb9">Melde
                dich, falls du Hilfe benötigst oder anbieten kannst.</a></p>
    </div>

    <div class="warning box" style="margin-top: 0.5em;">
        <p>Benötigst du anderweitig Hilfe? <a href="/beratung#extern">Möglicherweise ist hier etwas für dich dabei.</a></p>
    </div>

    <!-- Hidden for obvious reasons
    
    <hr />

    <div id="termine" class="shortcalendar">
        <div class="toggleButton" onclick="toggleCalendar()">
            <p>Nächste Termine</p>
            <p></p>
        </div>
        <div id="calendarExpandable">
            {% for event in site.data.events %}
            <div>
                <h3 {% if event.important %}class="important" {% endif %}>{{ event.title }}</h3>
                <p>{{ event.description }}</p>
                <p><b>{{ event.date }}</b>{% if event.location %}, {{ event.location }} {% endif %}
                </p>
                {% if event.link %}
                <a href="{{ event.link }}">Mehr erfahren...</a>
                {% endif %}
            </div>
            {% unless forloop.last %}
            <hr />
            {% endunless %}
            {% endfor %}
        </div>
    </div>
    
    -->

    <hr class="space" />

    <h1 id="downloads">Downloads</h1>
    <p>Protokolle, Briefe und alles weitere Öffentliche findest du hier zum Herunterladen.</p>

    <div class="filters">
        <div class="selector" id="occasion">
            <span onclick="filter('occasion', this, 'sr')">SR</span>
            <span onclick="filter('occasion', this, 'ssr')">SSR</span>
            <span onclick="filter('occasion', this, 'vorstand')">Vorstand</span>
            <span onclick="filter('occasion', this, 'sonstiges')">Sonstiges</span>
        </div>

        <div class="selector" id="type">
            <span onclick="filter('type', this, 'protokoll')">Protokolle</span>
            <span onclick="filter('type', this, 'material')">Materialien</span>
            <span onclick="filter('type', this, 'einladung')">Einladungen</span>
        </div>

        <div class="overlay"></div>
    </div>

    <!-- Files -->

    <div class="contentgrid" id="files">
        {% assign downloads = site.downloads | reverse %}
        {% for download in downloads %}

        <div class="box download button {{ download.type | downcase}} {{ download.occasion | downcase }}">
            <a href="{{ download.url }}">
                <div class="boxcontent">
                    <h4>{{ download.type }}</h4>
                    <h3>{{ download.shortname }}</h3>
                    <img class="preview" src="
                        {% if download.preview %}
                            {{ download.preview }}
                        {% else %}
                            /files/noimg.jpg
                        {% endif %}
                    " alt="Vorschau von {{ download.title }}">
                </div>
            </a>
            <a href="{{ download.file }}" download="{{ download.shortname }}.pdf">
                <div class="directdl">
                    <p>Herunterladen</p>
                </div>
            </a>
        </div>

        {% endfor %}

        <h4 id="nocontentinfo" style="display:none">Zur Zeit gibt es keine Inhalte für diese Filter.</h4>
    </div>
</div>

<script>
    /*
    * Collapsable
    */

    function toggleCalendar() {
        var content = document.getElementById("calendarExpandable");
        if (content.style.maxHeight) {
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
            document.getElementById("termine").scrollIntoView({ behavior: "smooth" });
        }
    }

    if (document.URL.includes("#termine")) {
        toggleCalendar();
    }


    /*
    * Selector
    */

    var filter1 = ""
    var filter2 = ""

    function filter(selection, selected, filter) {
        var container = document.getElementById(selection)
        var options = document.getElementById(selection).children

        for (option of options) {
            option.classList.remove("checked")
            switch (selection) {
                case "occasion":
                    filter1 = ""
                    break
                case "type":
                    filter2 = ""
            }
        }

        container.classList.toggle("selected")
        if (container.classList.contains("selected")) {
            selected.classList.add("checked")
            switch (selection) {
                case "occasion":
                    filter1 = filter
                    break
                case "type":
                    filter2 = filter
            }
        }

        var downloads = document.getElementById("files").children
        var hiddencount = 0
        document.getElementById("files").classList.add("hidden")

        for (download of downloads) {
            download.style.display = ""
            var isHidden = false;
            if (filter1 != "" && filter1 != "sonstiges" && !download.classList.contains(filter1)) {
                download.style.display = "none"
                isHidden = true
            }
            if (filter1 == "sonstiges" && (download.classList.contains("sr") || download.classList.contains("ssr") || download.classList.contains("vorstand"))) {
                download.style.display = "none"
                isHidden = true
            }
            if (filter2 != "" && !download.classList.contains(filter2)) {
                download.style.display = "none"
                isHidden = true
            }
            if (isHidden) hiddencount++
        }

        console.log(downloads.length)
        console.log(hiddencount)
        console.log("------------")

        if (hiddencount >= downloads.length)
            document.getElementById("nocontentinfo").style.display = ""
        else
            document.getElementById("nocontentinfo").style.display = "none"

        document.getElementById("files").classList.remove("hidden")
    }

</script>