---
layout: default
---

<noscript>
    <p>Bitte aktiviere Javascript.</p>
</noscript>

<div id="background"></div>

<div class="headinfo">
    <a href="/" class="logo">
        <img src="files/logo.svg" alt="SV am GMB" />
    </a>
    <a href="/kontakt" class="button">Kontaktiere uns</a>
    <div class="links">
        <div class="link">
            <a href="https://instagram.com/sv.gmb">Instagram</a>
        </div>
        <div class="link">
            <a href="https://mosbacher-berg.de">Schulwebsite</a>
        </div>
    </div>
</div>


<div class="container sheet home">

    <div id="termine" class="shortcalendar">
        <div class="toggleButton" onclick="toggleCalendar()">
            <p>Nächste Termine</p>
            <p></p>
        </div>
        <div id="calendarExpandable">
            {% for event in site.data.events %}
            <div>
                <h3 {% if event.important %}class="important"{% endif %}>{{ event.title }}</h3>
                <p>{{ event.description }}</p>
                <p><b>{{ event.date }}</b>{% if event.location %}, {{ event.location }} {% endif %}
                </p>
                {% if event.link %}
                <a href="{{ event.link }}">Mehr erfahren...</a>
                {% endif %}
            </div>
            {% unless forloop.last %}
                <hr />
            {% endunless %}
            {% endfor %}
        </div>
    </div>

    <hr class="space" />

    <h1 id="downloads">Downloads</h1>
    <p>Protokolle, Briefe und alles weitere Öffentliche findest du hier zum Herunterladen.</p>

    <!-- Information -->

    <h2 class="space">Informationen</h2>
    <div class="contentgrid">
        {% assign transcripts = site.downloads | where: "type", "Information" | reverse %}
        {% for transcript in transcripts %}

        <div class="box download button">
            <a href="{{ transcript.url }}">
                <div class="boxcontent">
                    <h4>{{ transcript.type }}</h4>
                    <h3>{{ transcript.shortname }}</h3>
                    {% if transcript.preview %}
                    <img class="preview" src="{{ transcript.preview }}" alt="Vorschau von {{ transcript.title }}">
                    {% endif %}
                </div>
            </a>
            <a href="{{ transcript.file }}" download="{{ transcript.shortname }}.pdf">
                <div class="directdl">
                    <p>Herunterladen</p>
                </div>
            </a>
        </div>
    </div>

    {% endfor %}

    <!-- Transcripts -->

    <h2 class="space">Protokolle</h2>
    <div class="contentgrid">
        {% assign transcripts = site.downloads | where: "type", "Protokoll" | reverse %}
        {% for transcript in transcripts %}

        <div class="box download button">
            <a href="{{ transcript.url }}">
                <div class="boxcontent">
                    <h4>{{ transcript.type }}</h4>
                    <h3>{{ transcript.shortname }}</h3>
                    {% if transcript.preview %}
                    <img class="preview" src="{{ transcript.preview }}" alt="Vorschau von {{ transcript.title }}">
                    {% endif %}
                </div>
            </a>
            <a href="{{ transcript.file }}" download="{{ transcript.shortname }}.pdf">
                <div class="directdl">
                    <p>Herunterladen</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    /*
    * Collapsable
    */

    function toggleCalendar() {
        var content = document.getElementById("calendarExpandable");
        if (content.style.maxHeight) {
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
            document.getElementById("termine").scrollIntoView({behavior: "smooth"});
        }
    }

    if (document.URL.includes("#termine")) {
        toggleCalendar();
    }

</script>