@import url('https://fonts.googleapis.com/css?family=Enriqueta|Montserrat&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    max-width: 92rem;
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;
}

h1,
h2,
.header {
    font-family: "Enriqueta", serif;
}

a {
    text-decoration: none;
    color: #645fff;
}

.header {
    color: #808080;
    text-decoration: none;
}



/*
 * Content grids
 * - Index
 * - Downloads
 */
.contentgrid {
    margin-top: 2rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: calc(50% - 0.25rem) calc(50% - 0.25rem);
}

@media(min-width: 56rem) {
    .contentgrid {
        grid-template-columns: repeat(4, calc(25% - 0.125rem));
    }
}

.box {
    box-shadow: 0 0 10px #dadada;
    border-radius: 1rem;
    text-decoration: none;
    padding: 1rem;
    transition: transform 150ms;
}

.box *:not(a) {
    margin: 0;
    text-decoration: none;
    color: #404040;
}

.box.button:hover {
    transform: scale(0.98);
    box-shadow: 0 0 15px #eaeaea;
}

.box.download {
    padding: 0;
}

.box.download h4 {
    color: #808080;
    font-size: 0.8rem;
}

.box.download .boxcontent {
    padding: 0.5rem;
    height: 10rem;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

.box.download .directdl {
    border-top: 1px solid #eeeeee;
    padding: 0.5rem;
}

.box.download img.preview {
    overflow: hidden;
    width: 100%;
    margin: 0.5rem auto;
    display: block;
    box-shadow: 0 0 5px #dadada;
    border-radius: 0.5rem;
    transition: 200ms;
}

hr {
    border: 0.5px solid #dadada;
    width: 2rem;
    margin: 1rem auto !important;
}

.space {
    margin-top: 1rem;
    padding-top: 1rem;
}